.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid;
    border-color: lightpink;
    border-radius: 7px;
    cursor: pointer;
}
.row{
    margin: 7px 1px;
}
.row input{
    width: 280px;
    font-size: 20px;
    margin: 0;
    padding: 10px 10px;
    border: 2px solid lightcoral;
    border-radius: 8px;
}